/* src/styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap");
:root {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --stix: "STIX Two Text", serif;
  --bg-color: #0f0f0f;
  --text-color: #dbdbdf;
  --accent: #3f3f3f;
  --accent-two: #222222;
  --border: #2a2a2a;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-jakarta);
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: white;
}

code {
  background: var(--accent);
  padding: 0.4em;
  border-radius: 4px;
}

table {
  background: #1a1a1a;
  color: white;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid var(--border);
  padding: 0.5em;
}
